.seat-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}
.seat-map div{
    width: 360px;
    height: 360px;
    background-size: 100%;
}
.seat-map div img{
    visibility: hidden;
}
@media screen and (min-width:700px){
    .seat-map div{
        width: 648px;
        height: 609px;
        background-size: 100%;
    }

}
@media screen and (min-width:1440px){
    .seat-map{
       
        flex-direction: row;
        justify-content: center;
      

       
    }
    .seat-map div{
        width: 690px;
        height: 609px;
    }
    
}